// --------------------FOOTER--------------------------
// footer First Mobil

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: black;
	width: 100vw;
	color: white;
	

	&__img {
		text-align: center;
		margin: auto;
		max-width: 40%;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	&__address {
		margin-bottom: 1rem;
		text-align: center;
	}

	&__opening {
		margin-bottom: 2rem;
	}

	&__social {
		margin-bottom: 2rem;

		i {
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}

	&__newletter {
		margin-bottom: 1rem;

		form {
			display: grid;
			width: 100%;
			grid-template-columns: 2;
			grid-template-rows: 2;

			label {
				grid-row: 1/1;
				grid-column: 1/3;
				text-align: center;
			}

			input[type="email"] {
				grid-row: 2/3;
				grid-column: 1/1;
				border-radius: 2%;
				height: 2rem;
			}

			input[type="button"] {
				border-radius: 0 10px 10px 0px;
				grid-row: 2/3;
				grid-column: 2/3;
			}
		}
	}

	&__legal {
		margin-bottom: 1rem;
	}
}

// Footer Desktop
@media screen and (min-width: $mediaQueries800) {
	.footer {
		display: grid;
		grid-template-columns: 3;
		grid-template-rows: 4;

		&__img {
			max-width: 100%;
			text-align: center;
			grid-column: 2/2;
			grid-row: 1/1;
			margin: auto;

			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		&__address {
			margin-bottom: 1rem;
			text-align: center;
			grid-column: 1/1;
			grid-row: 2/2;
		}

		&__opening {
			margin-bottom: 2rem;
			grid-column: 1/1;
			grid-row: 3/3;
		}

		&__social {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			grid-column: 2/2;
			grid-row: 2/4;

			i {
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}

		&__newletter {
			margin-bottom: 1rem;
			grid-column: 3/3;
			grid-row: 2/2;

			form {
				display: grid;
				width: 100%;
				grid-template-columns: 2;
				grid-template-rows: 2;

				label {
					grid-row: 1/1;
					grid-column: 1/3;
					text-align: center;
				}

				input[type="email"] {
					grid-row: 2/3;
					grid-column: 1/1;
					border-radius: 2%;
					height: 2rem;
				}

				input[type="button"] {
					grid-row: 2/3;
					grid-column: 2/3;
				}
			}
		}

		&__legal {
			text-align: center;
			margin-bottom: 1rem;
			grid-column: 2/2;
			grid-row: 4/4;
		}
	}
}

// ---------------------------Fin Footer-------------------------------------
