// Menu First Mobil
nav {
  position: absolute;
  width: 100%;
  height: 25%;
  z-index: 9;
  @media screen and (min-width: $mediaQueries800) {
    height: auto;
  }

  #nav__logoMobil {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 5em;
    }
    @media screen and (min-width: $mediaQueries800) {
      display: none;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-150vh);
  font-family: $police1;
  transition: 0.4s ease-in;
  background: rgb(0, 0, 0);
  z-index: 20;

  &.active {
    transform: translateY(0);
  }

  li {
    list-style: none;
    margin: 1em 0;

    &:first-child {
      width: 7em;

      @media screen and (min-width: $mediaQueries800) {
        width: 100px;
        margin-right: 9em;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 1.5em;
      position: relative;
      white-space: nowrap;
      letter-spacing: 3px;

      img {
        width: 100%;
        height: auto;
      }
    }
    a:after {
      content: "";
      display: block;
      margin: auto;
      height: 1.5px;
      width: 0;
      background: transparent;
      transition: 0.5s ease;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -1;
    }

    a:not(#logo):hover::after {
      width: 80%;
      background-color: white;
    }
  }
  @media screen and (min-width: $mediaQueries800) {
    position: fixed;
    flex-direction: row;
    transform: translateY(0);
    justify-content: space-around;
    font-size: 0.6em;
    height: auto;
    z-index: 9;
    background: none;
  }
}
// Menu Desktop
.toggle-btn {
  display: flex;
  flex-direction: column;
  margin: 23px 0 0 20px;
  cursor: pointer;
  position: fixed;
  z-index: 25;
  padding: 0.3em;
  border-radius: 10%;
  transition: 0.3s ease;

  span {
    height: 0.2em;
    width: 2.5em;
    background: white;
    margin: 3px 0;
    transition: 0.7s ease-in-out;

    &:nth-child(1).active {
      transform: rotateZ(45deg) translate(6px, 7px);
    }

    &:nth-child(2).active {
      transform: translateX(-50vh);
    }
    &:nth-child(3).active {
      transform: rotateZ(-45deg) translate(7px, -7px);
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}
