// * {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// }
// @font-face {
// 	font-family: "Font1";
// 	src: url("../fonts/courgette-v8-latin-regular.woff2") format("woff2");
// }
// @font-face {
// 	font-family: "Font2";
// 	src: url("../fonts/Ephesis-Regular.ttf") format("woff2");
// }
// body {
// 	height: 100vh;
// }
.restoMainContent {
	font-size: $paragraphsFontSize * 0.3;
}
img {
	width: 100%;
	height: auto;
}
.header {
	height: 100vh;
}
.header__container {
	display: grid;
	grid-template-columns: 1.2fr 0.7fr 0.3fr;
	grid-template-rows: 1fr;
	height: 100vh;

	.header__container--image {
		grid-area: 1/1/2/2;
		background: url("../assets/resto/food-1828243_1280.jpg");
		background-size: cover;
		-webkit-filter: brightness(0.7);
		filter: brightness(0.7);
	}

	.header__container--title {
		background: black;
		grid-area: 1/2/2/3;
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			color: rgb(143, 118, 7);
			font-size: 3em;
			font-family: "Font1";
		}
	}
	.header__container--grid-image {
		grid-area: 1/3/2/4;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);

		div:nth-child(1) {
			background: url("../assets/resto/india-1481497_1280.jpg");
			background-size: cover;
			background-position: center;
		}
		div:nth-child(2) {
			background: url("../assets/resto//raspberry-6093284_1280.jpg");
			background-size: cover;
			background-position: center;
		}
		div:nth-child(3) {
			background: url("../assets/resto/starter-387839_1280.jpg");
			background-size: cover;
			background-position: center;
		}
		div:nth-child(4) {
			background: url("../assets/resto/bruschetta-4282898_1280.jpg");
			background-size: cover;
			background-position: center;
		}
		div {
			-webkit-filter: brightness(0.7);
			filter: brightness(0.7);
		}
	}
}

.presentation {
	height: 70vh;
	text-align: center;
	background: rgba(143, 118, 7, 0.295);
	position: relative;

	.presentation__container {
		display: flex;
		align-items: center;
	}
}
.presentation__container--text {
	background: white;
	padding: 2em;
	width: 50%;
	height: 350px;
	margin: -3% 0 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		width: 70%;
		margin: 2em auto;
	}
}
.presentation__container--image {
	position: absolute;
	top: 30%;
	right: 5%;
	width: 45%;
	box-shadow: 12px 11px 0px -2px #ffffff;
	line-height: 0;
	z-index: 1;

	img {
		width: 100%;
	}
}
.starter {
	position: relative;

	.starter__title {
		background: url("../assets/resto/starter-387839_1280.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		padding: 30vh 0;
		text-align: center;
		position: relative;

		h2 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: rgb(143, 118, 7);
			font-size: 4em;
			font-family: "Font2";
			letter-spacing: 10px;
		}

		&::before {
			content: "";
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			color: white;
		}
	}
}
.gridstarter {
	background: rgba(143, 118, 7, 0.295);
}
.startergrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding: 4em;
	gap: 0.5em;

	& > * {
		padding: 100px 0;
		background: white;
		text-align: center;
	}
	div:nth-child(1) {
		background: url("../assets/resto/starter-387839_1280.jpg");
		background-position: center;
		background-size: cover;
		grid-area: 1/1;
	}
	div:nth-child(2) {
		grid-area: 1/2;

		&:hover {
			grid-area: 1/1/1/3;
		}
	}
	div:nth-child(3) {
		grid-area: 1/3;
		background: url("../assets/resto/india-1481497_1280.jpg");
		background-position: center;
		background-size: cover;
	}
	div:nth-child(4) {
		grid-area: 1/4;

		&:hover {
			grid-area: 1/3/2/5;
		}
	}
	div:nth-child(5) {
		grid-area: 2/2;
		background: url("../assets/resto/pizza-6478478_1280.jpg");
		background-position: center;
		background-size: cover;
	}
	div:nth-child(6) {
		grid-area: 2/1;

		&:hover {
			grid-area: 2/1/3/3;
		}
	}
	div:nth-child(7) {
		grid-area: 2/4;
		background: url("../assets/resto/mediterranean-cuisine-2378758_1280.jpg");
		background-position: center;
		background-size: cover;
	}
	div:nth-child(8) {
		grid-area: 2/3;

		&:hover {
			grid-area: 2/3/3/5;
		}
	}
}
.meals {
	position: relative;

	h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: rgb(143, 118, 7);
		font-size: 4em;
		font-family: "Font2";
		letter-spacing: 10px;
	}

	.meals__title {
		background: url("../assets/resto/raspberry-6093284_1280.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		padding: 30vh 0;
		text-align: center;
		position: relative;

		&::before {
			content: "";
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			color: white;
		}
	}
}
