@font-face {
	font-family: "Font1";
	src: url("fonts/courgette-v8-latin-regular.woff2") format("woff2");
}
@font-face {
	font-family: "Font2";
	src: url("fonts/Ephesis-Regular.ttf") format("woff2");
}

// $mainColor: #c09628;
$mainColor: rgb(143, 118, 7);
$bgMainColor: rgba(143, 118, 7, 0.3);
$colorBgBtns: rgba(255, 255, 255, 0.486);
$lightMainColor: lighten($mainColor, 40);
$darkMainColor: darken($mainColor, 20);
$white: rgb(216, 215, 215);
$black: rgb(44, 44, 44);
$darkness: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

$mediaQueries800: 800px;
$mediaQueries1200: 1200px;
$mediaQueries1600: 1600px;

$paragraphsFontSize: 4vw;
$police1: sans-serif;
// $fontMain: serif;
$fontTitles1: Font1;
$fontTitles2: Font2;
