// Variables
$police1: sans-serif;
$mainColor: #c09628;
$mediaQueries800: 800px;
$mediaQueries1200: 1200px;
$lightMainColor: lighten($mainColor, 40);
$darkMainColor: darken($mainColor, 20);
$white: rgb(216, 215, 215);
$black: rgb(44, 44, 44);
$fontMain: serif;
$fontTitles: verdana;
$paragraphsFontSize: 4vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// --------------------HEADER--------------------------
// Menu First Mobil
nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9;

  #nav__logoMobil {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 5em;
    }
    @media screen and (min-width: $mediaQueries800) {
      display: none;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100vh);
  font-family: $police1;
  transition: 0.4s ease-in;
  background: rgb(0, 0, 0);
  z-index: 20;

  &.active {
    transform: translateY(0);
  }

  li {
    list-style: none;
    margin: 1em 0;

    &:first-child {
      width: 7em;

      @media screen and (min-width: $mediaQueries800) {
        width: auto;
        margin-right: 9em;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 1.3em;
      position: relative;
      white-space: nowrap;
      letter-spacing: 3px;

      img {
        width: 100%;
        height: auto;
      }
    }
    a:after {
      content: "";
      display: block;
      margin: auto;
      height: 1px;
      width: 0;
      background: transparent;
      transition: 0.5s ease;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -1;
    }

    a:hover:after {
      width: 80%;
      background-color: white;
    }
  }
  @media screen and (min-width: $mediaQueries800) {
    position: fixed;
    flex-direction: row;
    transform: translateY(0);
    justify-content: space-around;
    font-size: 0.6em;
    height: auto;
    z-index: 9;
    background: none;
  }
}
// Menu Desktop
.toggle-btn {
  display: flex;
  flex-direction: column;
  margin: 23px 0 0 20px;
  cursor: pointer;
  position: fixed;
  z-index: 25;
  padding: 0.3em;
  border-radius: 10%;
  transition: 0.3s ease;

  span {
    height: 0.2em;
    width: 2.5em;
    background: white;
    margin: 3px 0;
    transition: 0.7s ease-in-out;

    &:nth-child(1).active {
      transform: rotateZ(45deg) translate(6px, 7px);
    }

    &:nth-child(2).active {
      transform: translateX(-50vh);
    }
    &:nth-child(3).active {
      transform: rotateZ(-45deg) translate(7px, -7px);
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}
// ---------------------------Fin HEADER-------------------------------------
main {
  font-size: $paragraphsFontSize;
  @media screen and (min-width: $mediaQueries800) {
    section:not(.hero) {
      width: 80vw;
      margin: auto;
      font-size: $paragraphsFontSize * 0.75;
    }
  }
  @media screen and (min-width: $mediaQueries1200) {
    section:not(.hero) {
      width: 75vw;
      margin: auto;
      font-size: $paragraphsFontSize * 0.6;
    }
  }
  & h1,
  & h2 {
    font-family: $fontTitles;
  }
  & h1 {
    font-size: $paragraphsFontSize * 3;
    @media screen and (min-width: $mediaQueries800) {
      font-size: $paragraphsFontSize * 2;
    }
  }
  & h2 {
    font-size: $paragraphsFontSize * 2;
    @media screen and (min-width: $mediaQueries800) {
      font-size: $paragraphsFontSize;
    }
  }
}

//en attendant le carousel
#ribs {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(55%);
  filter: brightness(55%);
}

//-------------------------- Page: Home --------------------------------
#homeIntro {
  margin: 15vh auto;
  text-align: center;
  font-family: $fontMain;
  @media screen and (min-width: $mediaQueries1200) {
    margin: 25vh auto;
  }
}

.homeCard {
  position: relative;
  height: 125vw;
  @media screen and (min-width: $mediaQueries800) {
    height: 90vw;
  }
  @media screen and (min-width: $mediaQueries1200) {
    height: 75vw;
  }
  & h2 {
    background-color: black;
    color: $mainColor;
    text-align: center;
    font-family: $fontTitles;
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
  }
  &__img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
  &__text {
    color: $white;
    border: 2px inset $mainColor;
    background-color: $black;
    padding: 20px 10px;
    border-radius: 10px;
    position: absolute;
    top: 60vw;
    width: 70%;
    height: fit-content;
    @media screen and (min-width: $mediaQueries800) {
      top: 40vw;
    }
    &--left {
      margin-left: 2vw;
    }
    &--right {
      text-align: end;
      margin-left: 23vw;
      @media screen and (min-width: $mediaQueries800) {
        margin-left: 20vw;
      }
    }
  }
}

.homeEvents {
  height: 100vh;
  & h2 {
    background-color: black;
    color: $mainColor;
    text-align: center;
    font-family: $fontTitles;
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
  }
  &__slider {
    position: relative;
    width: 100%;
    &__item {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      transform: translateX(100vw);
      &.active {
        transform: translateX(0);
        transition: all 3s;
        &.activeEnd {
          transform: translateX(-100vw);
          transition: all 3s;
        }
      }
      &__img {
        height: 80vh;
        opacity: 0.3;
      }
      &__title {
        position: absolute;
        bottom: 5vw;
        left: 1vw;
        right: 1vw;
        width: fit-content;
        text-align: center;
        color: $white;
        border: 2px inset $mainColor;
        background-color: $black;
        padding: 20px 10px;
        border-radius: 10px;
        h3 {
          font-size: $paragraphsFontSize * 2;
          padding-bottom: 4vw;
          @media screen and (min-width: $mediaQueries800) {
            font-size: $paragraphsFontSize * 0.75;
            padding-bottom: 2vw;
          }
        }
      }
      &:hover {
        .homeEvents__slider__item__img {
          opacity: 1;
        }
        .homeEvents__slider__item__title {
          background-color: lighten($black, 50);
          color: $black;
        }
      }
    }
  }
}
// --------------------FOOTER--------------------------
// footer First Mobil

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: black;
  width: 100wh;
  color: white;
  margin-bottom: 1rem;

  &__img {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__address {
    margin-bottom: 1rem;
    text-align: center;
  }

  &__opening {
    margin-bottom: 2rem;
  }

  &__social {
    margin-bottom: 2rem;

    i {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  &__newletter {
    margin-bottom: 1rem;

    form {
      display: grid;
      width: 100%;
      grid-template-columns: 2;
      grid-template-rows: 2;

      label {
        grid-row: 1/1;
        grid-column: 1/3;
        text-align: center;
      }

      input[type="email"] {
        grid-row: 2/3;
        grid-column: 1/1;
        border-radius: 2%;
        height: 2rem;
      }

      input[type="button"] {
        grid-row: 2/3;
        grid-column: 2/3;
      }
    }
  }

  &__legal {
    margin-bottom: 1rem;
  }
}

// Footer Desktop
@media screen and (min-width: $mediaQueries800) {
  .footer {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 4;

    &__img {
      text-align: center;
      grid-column: 2/2;
      grid-row: 1/1;
      margin: auto;

      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &__address {
      margin-bottom: 1rem;
      text-align: center;
      grid-column: 1/1;
      grid-row: 2/2;
    }

    &__opening {
      margin-bottom: 2rem;
      grid-column: 1/1;
      grid-row: 3/3;
    }

    &__social {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      grid-column: 2/2;
      grid-row: 2/4;

      i {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    &__newletter {
      margin-bottom: 1rem;
      grid-column: 3/3;
      grid-row: 2/2;

      form {
        display: grid;
        width: 100%;
        grid-template-columns: 2;
        grid-template-rows: 2;

        label {
          grid-row: 1/1;
          grid-column: 1/3;
          text-align: center;
        }

        input[type="email"] {
          grid-row: 2/3;
          grid-column: 1/1;
          border-radius: 2%;
          height: 2rem;
        }

        input[type="button"] {
          grid-row: 2/3;
          grid-column: 2/3;
        }
      }
    }

    &__legal {
      text-align: center;
      margin-bottom: 1rem;
      grid-column: 2/2;
      grid-row: 4/4;
    }
  }
}

// ---------------------------Fin Footer-------------------------------------